<!--?xml version='1.0' encoding='utf-8' ?-->
<plugin id="cn.com.gf.plugins.cookiejar" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CDVCookieJar</name>
    
    <platform name="ios">
        <js-module name="CDVCookieJar" src="www/ios/CDVCookieJar.js">
            <clobbers target="cordova.plugins.CDVCookieJar"></clobbers>
        </js-module>
        <config-file parent="/*" target="config.xml">
            <feature name="CDVCookieJar">
                <param name="ios-package" value="CDVCookieJar" />
            </feature>
        </config-file>
        <source-file src="src/ios/CDVCookieJar.m"></source-file>
    </platform>
</plugin>
